#!/bin/bash

# Must be a keypair in the OpenStack project visible with `openstack keypair list`
export OPENSTACK_DNS_NAMESERVERS=8.8.8.8
export OPENSTACK_FAILURE_DOMAIN=nova
export OPENSTACK_EXTERNAL_NETWORK_ID=""
export OPENSTACK_IMAGE_NAME="Ubuntu_20.04_node"
export OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR=ds4G
export OPENSTACK_NODE_MACHINE_FLAVOR=ds4G
export OPENSTACK_SSH_KEY_NAME="<capo private key name>"
export OPENSTACK_SSH_AUTHORIZED_KEY="<capo public key content>"
export KUBERNETES_VERSION="v1.22.2"