# vars for e2e test
export OPENSTACK_BASTION_IMAGE_NAME="Ubuntu_20.04_node"
export OPENSTACK_BASTION_MACHINE_FLAVOR="2C-4GB-100GB"
export OPENSTACK_IMAGE_NAME="Ubuntu_20.04_node"
export OPENSTACK_NODE_MACHINE_FLAVOR="2C-4GB-100GB"
export OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR="2C-4GB-100GB"
export CONFORMANCE_WORKER_MACHINE_COUNT="1"
export CONFORMANCE_CONTROL_PLANE_MACHINE_COUNT="1"
export OPENSTACK_CLOUD_YAML_FILE='/tmp/clouds.yaml'

export OPENSTACK_SSH_KEY_NAME="cluster-api-provider-openstack-sigs-k8s-io"
export OPENSTACK_CLOUD="capo-e2e"

export OPENSTACK_DNS_NAMESERVERS=8.8.8.8
export OPENSTACK_FAILURE_DOMAIN=nova
export OPENSTACK_EXTERNAL_NETWORK_ID=""

GIT_ROOT=$(git rev-parse --show-toplevel)
CAPO_REPO=$(realpath "${GIT_ROOT}/../cluster-api-provider-openstack")
CAPO_E2E_SSH_KEY="${CAPO_REPO}/_artifacts/ssh/cluster-api-provider-openstack-sigs-k8s-io.pub"
export OPENSTACK_SSH_AUTHORIZED_KEY='"'$(cat $CAPO_E2E_SSH_KEY)'"'